/* Gaya untuk Halaman Umum */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F8F0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
    text-align: center;
}

h3 {
    color: green;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: green;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    border-radius: 10px;
    width: 200px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

ol, ul {
    margin-left: 40px;
}

/* Gaya untuk Daftar */
ol {
    margin-bottom: 20px;
}

ul li {
    list-style-type: square;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
